#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Hide scrollbar for horizontal scroll sections */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
